/* browser styles reset */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
/* main colors for app */
:root{
  /* dark mode styles  */
  --Dark-Blue-Dark-Mode-Elements:hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  /* end of dark mode styles */
  --White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);
  /* light mode styles */
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  /* end of light mode styles */
  --fontsize-Homepage-Items: 14px;
  --fontsize-Detail-Page: 16px;
  --transition:all 0.4s ease;
  --borderRadius:4px;
  --box-shadow:0px 0px 5px 2px var(--Very-Dark-Blue-Light-Mode-Text);
  --box-shadow-other:0px 0px 2px 1px var(--Dark-Gray-Light-Mode-Input);
  --box-shadow-tile:0px 0px 100px 3px rgba(7,5,3,0.1);
  --box-shadow-header:1px 3px 0px 2px rgba(8px,6px,5px, 0.4);
  --borderCountryShadow:0px 0px 100px 2px var(--Very-Dark-Blue-Light-Mode-Text);
}
/* styles for main container */
  .main-container{
    background-color: var(--Very-Dark-Blue-Dark-Mode-Background);
    color:var(--White-Dark-Mode-Text-Light-Mode-Elements);
}
/* end of styles for main container */

/* styles for heading  */
nav{
  background-color: var(--Dark-Blue-Dark-Mode-Elements);
  margin-bottom: 100px;
  padding:5px 50px;
  height:60px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  box-shadow: var(--box-shadow-header);
  /* box-shadow:var(--box-shadow-other); */
  z-index: 2;
}
.fixed-nav nav{
  position: fixed;
  margin-bottom: 50px;
  width: 100%;
  box-shadow: var(--box-shadow-header);
}
.dark-mode-switcher-button{
  cursor: pointer;
  background: var(--Dark-Blue-Dark-Mode-Elements);
  color:var(--White-Dark-Mode-Text-Light-Mode-Elements);
  border:none;
  text-transform: capitalize;

}
/* end of styles for heading */
/* styles for container center */
.container-center{
  padding:25px 50px;
}
/* end of styles for container center */
/* styles for search form filter container */
.search-form-and-filter-form-container{
  display: flex;
  justify-content: space-between;
  margin:30px auto;
  margin-top:100px;
}
/* end of styles for search form filter container */
/* styles for search input and container */
.search-input-container{
  background: var(--Dark-Blue-Dark-Mode-Elements);
  width:300px;
  height:100%;
  display:flex;
  align-items:center;
  color:var(--White-Dark-Mode-Text-Light-Mode-Elements);
  border-radius: var(--borderRadius);
  position:relative;
  border:none;
}
.search-input-container input{
  background: none;
  width:100%;
  height:100%;
  border:none;
  text-indent:40px;
  box-shadow: var(--box-shadow-header);
  color:var(--White-Dark-Mode-Text-Light-Mode-Elements);
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.fa-search{
  position:absolute;
  left:15px;
  font-size:14px;
  border:none;
}
/* end of styles for search input and container */
/* styles for filter form container */
.filter-form-container{
  width:150px;
  display: flex;
  align-items: center;
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
  border:none;
}
.filter-form-container .filter-countries{
  background: var(--Dark-Blue-Dark-Mode-Elements);
  color:var(--White-Dark-Mode-Text-Light-Mode-Elements);
  width:100%;
  height:100%;
  margin: 10px 0;
  border-radius:var(--borderRadius);
  -moz-border-radius:var(--borderRadius);
  -ms-border-radius:var(--borderRadius);
  -o-border-radius:var(--borderRadius);
  -webkit-border-radius:var(--borderRadius);
  padding:0 10px;
  border:none;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  box-shadow: var(--box-shadow-tile);
}
/* end of filter form container */
/* styles for back button */
.back-button{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  width:90px;
  height:30px;
  border:none;
  background: var(--Dark-Blue-Dark-Mode-Elements);
  color:var(--White-Dark-Mode-Text-Light-Mode-Elements);
  border-radius: var(--borderRadius);
  box-shadow: var(--box-shadow-other);
  margin:20px 0;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
}
.back-button:hover{
  background: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  color:var(--Dark-Blue-Dark-Mode-Elements);
}
/* end of styles for back button */
/* styles for countries tiles display */
.countries-tiles-display{
  width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:50px;
}
/* end of styles for countries tiles display */
/* styles for country tile */
.country-tile{
  display: flex;
  background-color:var(--Dark-Blue-Dark-Mode-Elements);
  height: 320px;
  font-size:var(--fontsize-Homepage-Items);
  margin:10px 0;
  cursor: pointer;
  flex-direction:column;
  box-shadow: var(--box-shadow-other);
  box-shadow:var(--box-shadow-header);
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.country-tile:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.country-flag{
  width:100%;
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
}
.country-details{
  padding:15px 25px;
}
/* end of styles for country tile */
/* styles for individual country display */
.individual-country-details-display{
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
 column-gap: 80px;
 font-size: var(--fontsize-Detail-Page);
 background-color:var(--Dark-Blue-Dark-Mode-Elements);
}

.individual-country-flag{
  width:100%;
}
.main-details-container{
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
}
.details{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
.country-name-container{
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 1.5;
  margin-bottom: 10px;
}

.border-countries{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
  margin-left:10px;
}
.border-country{
  display: flex;
  justify-content: center;
  height:30px;
  border:none;
  background: var(--Very-Dark-Blue-Dark-Mode-Background);
  color:var(--White-Dark-Mode-Text-Light-Mode-Elements);
  border-radius: var(--borderRadius);
  box-shadow: var(--box-shadow-header);
  margin:20px 10px;
  padding:4px 7px;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
}
.border-country:hover{
  background: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  color: var(--Very-Dark-Blue-Dark-Mode-Background);
}
/* end of styles for individual country display */
/* styles for light mode */
  .light-text{
    color:var(--Very-Dark-Blue-Light-Mode-Text);
  }
  .light-mode-elements{
  background-color: var(--White-Dark-Mode-Text-Light-Mode-Elements)!important;
  color:var(--Very-Dark-Blue-Light-Mode-Text)!important;
  box-shadow: var(--box-shadow-tile);
  }
  .country-tile-box-shadow-dark-mode{
    box-shadow: var(--box-shadow-tile);
  }
  .box-shadow-header{
    box-shadow: var(--box-shadow-header);
  }
  .light-mode-input{
    background-color:var(--Dark-Gray-Light-Mode-Input);
  }

.dark-mode-btn{
    box-shadow: var(--box-shadow-other);
  }
/* end of styles for light mode */
/* styles for pagination elements */
.pagination{
  display: flex;
  justify-content: center;
}
.pagination ul{
  display:flex;
  background:var(--Dark-Blue-Dark-Mode-Elements);
  background-color: var(--Very-Light-Gray-Light-Mode-Background);
  box-shadow: var(--box-shadow-other);
  padding:8px;
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
}
.pagination ul li{
  color:var(--Dark-Blue-Dark-Mode-Elements);
  list-style: none;
  line-height:45px;
  text-align:center;
  font-size:18px;
  font-weight:500;
  cursor: pointer;
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.pagination ul li.numb{
  height:45px;
  width:45px;
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
  margin:0 3px;
}
.pagination ul li.dots{
  font-size:22px;
  cursor: default;
}
.pagination ul li.btn{
  /* background: var(--White-Dark-Mode-Text-Light-Mode-Elements); */
  padding:0 20px;
   border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
}
.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover{
  background: var(--Dark-Blue-Dark-Mode-Elements);
  color:var(--White-Dark-Mode-Text-Light-Mode-Elements);
}
/* end of styles for pagination elements */